{% extends "base.html" %}

{% block classification_head %} {{ classification|upper }} {% endblock classification_head %}		

{% block extra_js %}

{% endblock extra_js %} 

{% block top_row %}
	<div class="row-fluid">
		<div class="span6 offset3">
			<h1>{{ page_title }}</h1>
			</br></br>
		</div>
	</div>

{% endblock top_row %}

{% block main_block %}

	<div class="row-fluid">
		<div class="span6 offset3">
                <table class="table table-striped">
                    
                </table>
                {{ ideas }}
		</div>
	</div>

{% endblock main_block %}

{% block classification_tail %} {{ classification }} {% endblock classification_tail %}
