{% extends "base.html" %}

{% block classification_head %} {{ classification|upper }} {% endblock classification_head %}		

{% block extra_js %}

{% endblock extra_js %} 

{% block top_row %}
	<div class="row-fluid">
		<div class="span8 offset2">
			<h1>{{ page_title }}</h1>
			</br></br>
		</div>
	</div>

{% endblock top_row %}

{% block main_block %}

	<div class="row-fluid">
		<div class="span8 offset2">
                <table class="table table-hover text-center sortable border-color: red">
                    <thead>
                        <tr>
                            {% for heading in headings %}
                                <th> {{ heading.pretty }} </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    {%for row in tableData %}
                        {% if row.perc_likes > 80 %}
                            <tr class="success">
                                <td>{{row.title}}</td>
                                <td>{{row.pub_date}}</td>
                                <td>{{row.description}}</td>
                                <td>
                                {% if row.linked_projects %}
                                    {% for proj in row.linked_projects %}
                                        <a href="/projects/project_detail/{{proj}}">{{proj}},</a>
                                    {% endfor %}
                                {% else %}
                                    None
                                {% endif %}
                                </td>

                                <td>
                                <i class="icon-thumbs-up" id="like_{{row.id}}" onclick="loadFeedbackXMLDoc('Like', 'ideas', this.id,'celllike_', 'celldislike_');"></i><span id="celllike_{{row.id}}">{{row.likes}}</span>
                                <i class="icon-thumbs-down"id="dislike_{{row.id}}" onclick="loadFeedbackXMLDoc('Dislike', 'ideas', this.id,'celldislike_', 'celllike_');"></i><span id="celldislike_{{row.id}}">{{row.dislikes}}</span>
                                <button class="btn btn-mini btn-warning" href="#" onclick="javascript:window.location='mailto:?subject=Check out this iStarter Idea&body=Title:{{row.title}}   Description:{{row.description}}'">Share</button>
                                </td>                           
                            </tr>
                        {% elif row.perc_dislikes > 80 %}
                            <tr class="error">
                                <td>{{row.title}}</td>
                                <td>{{row.pub_date}}</td>
                                <td>{{row.description}}</td>
                                <td>
                                {% if row.linked_projects %}
                                    {% for proj in row.linked_projects %}
                                        <a href="/projects/project_detail/{{proj}}">{{proj}},</a>
                                    {% endfor %}
                                {% else %}
                                    None
                                {% endif %}
                                </td>
                                <td>
                                <i class="icon-thumbs-up" id="like_{{row.id}}" onclick="loadFeedbackXMLDoc('Like', 'ideas', this.id,'celllike_', 'celldislike_');"></i><span id="celllike_{{row.id}}">{{row.likes}}</span>
                                <i class="icon-thumbs-down"id="dislike_{{row.id}}" onclick="loadFeedbackXMLDoc('Dislike', 'ideas', this.id,'celldislike_', 'celllike_');"></i><span id="celldislike_{{row.id}}">{{row.dislikes}}</span>
                                <button class="btn btn-mini btn-warning" href="#" onclick="javascript:window.location='mailto:?subject=Check out this iStarter Idea&body=Title:{{row.title}}   Description:{{row.description}}'">Share</button>  
                                </td>                             
                            </tr>
                        {% else %}
                            <tr>
                                <td>{{row.title}}</td>
                                <td>{{row.pub_date}}</td>
                                <td>{{row.description}}</td>
                                <td>
                                {% if row.linked_projects %}
                                    {% for proj in row.linked_projects %}
                                        <a href="/projects/project_detail/{{proj}}">{{proj}},</a>
                                    {% endfor %}
                                {% else %}
                                    None
                                {% endif %}
                                </td>
                                <td>
                                <i class="icon-thumbs-up" id="like_{{row.id}}" onclick="loadFeedbackXMLDoc('Like', 'ideas', this.id,'celllike_','celldislike_');"></i><span id="celllike_{{row.id}}">{{row.likes}}</span>
                                <i class="icon-thumbs-down"id="dislike_{{row.id}}" onclick="loadFeedbackXMLDoc('Dislike', 'ideas', this.id,'celldislike_','celllike_');"></i><span id="celldislike_{{row.id}}">{{row.dislikes}}</span>
                                <button class="btn btn-mini btn-warning" href="#" onclick="javascript:window.location='mailto:?subject=Check out this iStarter Idea&body=Title:{{row.title}}   Description:{{row.description}}'">Share</button>                              
                                </td>                            
                            </tr>
                        {% endif %}
                    {% endfor %}               
                </table>
		</div>
	</div>

{% endblock main_block %}

{% block classification_tail %} {{ classification }} {% endblock classification_tail %}
