{% extends "base.html" %}

{% block classification_head %} {{ classification|upper }} {% endblock classification_head %}		

{% block extra_js %}

{% endblock extra_js %} 

{% block main_block %}

<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Latest Ideas</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="/projects">List all projects</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
            	<h1>{{ page_title }}</h1>
        		  </br></br>
			{% for row in tableData %}
				{% if forloop.counter0|divisibleby:"3" %}
					<div class="row-fluid">
				{% endif %}
                            {% if row.perc_likes > 80 %}
        					<li class="span4">
        						<div class="thumbnail" style="height:200px;border: 2px solid green;">
        							<div class="caption">				
        								<h4>{{ row.title }}
                                                    </h4>
                            				<p> {{ row.description }} </p>
                                                    <i class="icon-thumbs-up" id="like_{{row.id}}" onclick="loadFeedbackXMLDoc('Like', 'ideas', this.id,'celllike_', 'celldislike_');"></i><span id="celllike_{{row.id}}">{{row.likes}}</span>
                                                    <i class="icon-thumbs-down"id="dislike_{{row.id}}" onclick="loadFeedbackXMLDoc('Dislike', 'ideas', this.id,'celldislike_', 'celllike_');"></i><span id="celldislike_{{row.id}}">{{row.dislikes}}</span>
                                                    <button class="btn btn-mini btn-warning" href="#" onclick="javascript:window.location='mailto:?subject=Check out this iStarter Idea&body=Title:{{row.title}}   Description:{{row.description}}'">Share</button>
                                                    {% if row.linked_projects %}
                                                        <p>Linked Projects:
                                                        {% for proj in row.linked_projects %}
                                                            <a href="/projects/project_detail/{{proj}}">{{proj}},</a>
                                                        {% endfor %}
                                                        </p>
                                                    {% else %}
                                                        <p>No Linked Projects</p>
                                                    {% endif %}                                                    
                                            </div>
        						</div>
        					</li>
                            {% elif row.perc_dislikes > 80 %}
                                <li class="span4">
        						<div class="thumbnail" style="height:200px;border: 2px solid red;">
        							<div class="caption">				
        								<h4>{{ row.title }}
                                                    </h4>
        								<p> {{ row.description }} </p>
        								<i class="icon-thumbs-up" id="like_{{row.id}}" onclick="loadFeedbackXMLDoc('Like', 'ideas', this.id,'celllike_', 'celldislike_');"></i><span id="celllike_{{row.id}}">{{row.likes}}</span>
                                                    <i class="icon-thumbs-down"id="dislike_{{row.id}}" onclick="loadFeedbackXMLDoc('Dislike', 'ideas', this.id,'celldislike_', 'celllike_');"></i><span id="celldislike_{{row.id}}">{{row.dislikes}}</span>
                                                    <button class="btn btn-mini btn-warning" href="#" onclick="javascript:window.location='mailto:?subject=Check out this iStarter Idea&body=Title:{{row.title}}   Description:{{row.description}}'">Share</button>
                                                    {% if row.linked_projects %}
                                                        <p>Linked Projects:
                                                        {% for proj in row.linked_projects %}
                                                            <a href="/projects/project_detail/{{proj}}">{{proj}},</a>
                                                        {% endfor %}
                                                        </p>
                                                    {% else %}
                                                        <p>No Linked Projects</p>
                                                    {% endif %}     
                                            </div>
        						</div>
        					</li>
                            {% else %}
                                <li class="span4">
        						<div class="thumbnail" style="height:200px;">
        							<div class="caption">					
        								<h4>{{ row.title }}
                                                    </h4>
        								<p> {{ row.description }} </p>
        								<i class="icon-thumbs-up" id="like_{{row.id}}" onclick="loadFeedbackXMLDoc('Like', 'ideas', this.id,'celllike_', 'celldislike_');"></i><span id="celllike_{{row.id}}">{{row.likes}}</span>
                                                    <i class="icon-thumbs-down"id="dislike_{{row.id}}" onclick="loadFeedbackXMLDoc('Dislike', 'ideas', this.id,'celldislike_', 'celllike_');"></i><span id="celldislike_{{row.id}}">{{row.dislikes}}</span>
                                                    <button class="btn btn-mini btn-warning" href="#" onclick="javascript:window.location='mailto:?subject=Check out this iStarter Idea&body=Title:{{row.title}}   Description:{{row.description}}'">Share</button>
                                                    {% if row.linked_projects %}
                                                        <p>Linked Projects:
                                                        {% for proj in row.linked_projects %}
                                                            <a href="/projects/project_detail/{{proj}}">{{proj}},</a>
                                                        {% endfor %}
                                                        </p>
                                                    {% else %}
                                                        <p>No Linked Projects</p>
                                                    {% endif %}     
                                            </div>
        						</div>
        					</li>
                            {% endif %}
				{% if forloop.counter|divisibleby:"3" %}	
					</div><!--/row-->
				{% endif %}
			{% endfor %}


    </div><!--/.fluid-container-->
    <hr>

    

 <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

{% endblock main_block %}

{% block classification_tail %} {{ classification }} {% endblock classification_tail %}
