{% extends "base.html" %}

{% block classification_head %} {{ classification|upper }} {% endblock classification_head %}		

{% block extra_js %}

{% endblock extra_js %} 

{% block top_row %}
	<div class="row-fluid">
		<div class="span6 offset3">
			<h1>{{ page_title }}</h1>
			</br></br>
		</div>
	</div>

{% endblock top_row %}

{% block main_block %}

	<div class="row-fluid">
		<div class="span5 offset3">

			<form action="." method="POST">{% csrf_token %}
			        <div>
				        {{ form.title.errors }}
				        {{ form.title }}
					</div>
					<div>
				        {{ form.description.errors }}
				        {{ form.description }}
					</div>
					<div>
				        {{ form.cls.errors }}
				        {{ form.cls }}
						<input style="float:right; padding:0px auto; margin:0px auto;" type="submit" value="Send"/>
					</div>
					
			</form>
		</div>
		<div class="span2">
			<div>
		        {{ form.tags.errors }}
		        {{ form.tags }}
			</div>
		</div>		
	</div>

{% endblock main_block %}

{% block classification_tail %} {{ classification }} {% endblock classification_tail %}
