{% extends "base.html" %}

{% block classification_head %} {{ classification|upper }} {% endblock classification_head %}		

{% block extra_js %}

<script>
function loadXMLDoc(typestr,idstr)
{
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.open("GET","/ideas/like/"+idstr,false);
xmlhttp.send();
if (typestr=="Like")
  {
  document.getElementById(idstr).innerHTML="Liked";
  }
else
  {
  document.getElementById(idstr).innerHTML="Disliked";
  }
}
</script>

{% endblock extra_js %} 

{% block top_row %}
	<div class="row-fluid">
		<div class="span6 offset3">
			<h1>{{ page_title }}</h1>
			</br></br>
		</div>
	</div>

{% endblock top_row %}

{% block main_block %}

	<div class="row-fluid">
		<div class="span6 offset3">
                <table class="table table-striped table-condensed table-bordered table-hover text-center sortable">
                    <thead>
                        <tr>
                            {% for heading in headings %}
                                <th> {{ heading.pretty }} </th>
                            {% endfor %}
                            <th>Feedback</th>
                        </tr>
                    </thead>
                    {%for row in tableData %}
                        <tr>
                          {%for cell in row.cells%}    
                            <td>{% if cell.field = "Idea Description" %}
                            <button type="button" class="btn btn-mini" data-toggle="collapse" data-target=#div_{{cell.id}}>Show Details...</button>
                            <div id="div_{{cell.id}}" class="collapse"> {{cell.full}} </div>                 
                            {% else %}
                                {{cell.full}}                            
                            {% endif %}
                            {% if forloop.last %}
                                </td>
                                <td><span><button id="like_{{row.uid}}" type="button" class="btn btn-mini" onclick="loadXMLDoc(this.innerHTML,this.id);this.disabled=true;">Like</button>
                                <button id="dislike_{{row.uid}}" type="button" class="btn btn-mini" onclick="loadXMLDoc(this.innerHTML,this.id);this.disabled=true;">Dislike</button>
                                </span></td>
                            {% else %}
                                </td>   
                            {% endif %}                                                                       
                        {% endfor %}
                        </tr>
                    {% endfor %}               
                </table>
		</div>
	</div>

{% endblock main_block %}

{% block classification_tail %} {{ classification }} {% endblock classification_tail %}
