{% extends "base.html" %}

{% block classification_head %} {{ classification|upper }} {% endblock classification_head %}		

{% block extra_js %}

{% endblock extra_js %} 

{% block main_block %}

<div id="main_content">
<div class="hero_1 loading" id="running-board-wrap">
<div class="container" id="running-board">
<div id="hero_images"></div>
<div id="hero_image_fill">
<div class="left"></div>
<div class="right"></div>
</div>
<div id="hero">
<p class="big_type">
iStarter is changing how millions of people (ok hundreds of analysts) around the world decide what they need to better perform their tasks in 
		<strong>art,comics, dance, design, fashion, film &amp; video. food, games, music, photography, publishing, technology, theater</strong> oh and possibly
		<center> <strong><h1 class="text-error">Intelligence Production</h1></strong></center>
</div>
<p class="caption">
<a href="#" class="hero_0_caption">Laurel is writing Spindrift, a memoir about her late father.</a>
<a href="#" class="hero_1_caption">Melissa’s conceptual art project sent her on an Arctic expedition.</a>
<a href="#" class="hero_2_caption">With the help of his 961 backers, Jack published his first novel.</a>
<a href="#" class="hero_3_caption">Michael painted 91 paintings of Don Quixote in 91 days.</a>
</p>
</div>
<div id="quotes">
<div class="container">
<ul>
<li class="quote">
<p>“Paradigm-shifting” &mdash; CNN</p>
</li>
<li class="quote">
<p>“Pioneering” &mdash; New York Times</p>
</li>
<li class="quote">
<p>“iStarter funds the future” &mdash; Rolling Stone</p>
</li>
</ul>
</div>
</div>
</div>

<div id="content-wrap">
<div id="content">
<div class="section" id="copy">
<div class="container">
<div class="interior">
<h2>What is iStarter?</h2>
<div class="divider"></div>
<div class="group">
<p class="big_type">iStarter is a new way to prioritise research and development funding towards those areas that you believe to be most important to you.</p>
<p>
We’re a home for everything from films, games, and music to art, design, and technology. iStarter is full of projects, big and small, that are brought to life through the direct support of people like you. Since our launch in 2009, more than
<b>4.4 million</b>
people have pledged over
<b>$685 million</b>,
funding more than
<b>44,000</b>
creative projects. Thousands of creative projects are raising funds on iStarter right now.
</p>
</div>
<div class="group">
<p class="big_type">Each project is independently created.</p>
<p>The filmmakers, musicians, artists, and designers you see on iStarter have complete control over and responsibility for their projects. iStarter is a platform and a resource; we’re not involved in the development of the projects themselves. Anyone can launch a project on iStarter as long as it meets our guidelines.</p>
</div>
<div class="group">
<p class="big_type">Together, creators and backers make projects happen.</p>
<p>Project creators set a funding goal and deadline. If people like a project, they can pledge money to make it happen. Funding on iStarter is all-or-nothing — projects must reach their funding goals to receive any money. All-or-nothing funding might seem scary, but it’s amazingly effective in creating momentum and rallying people around an idea. To date, an impressive 44% of projects have reached their funding goals.</p>
</div>
<div class="content_break">
<div class="image">
<img eight="140" src="/static/images/facebookLinks.png" width="300" class="img-polaroid" />
</div>
<div class="copy">
<p class="big_type">
<span>“</span>
There’s just something magical about iStarter... You immediately feel like you’re part of a larger club of art-supporting fanatics.”
</p>
<p class="small_type">
&mdash;
<a href="#">Amanda Palmer, who rallied 25,000 backers to support her album, book, and tour.</a>
</p>
</div>
</div>
<div class="group">
<p class="big_type">Creators keep 100% ownership of their work.</p>
<p>
Backers are supporting projects to help them come to life, not to profit financially. Instead, project creators offer rewards to thank backers for their support. Backers of an effort to make a book or film, for example, often get a copy of the finished work. A bigger pledge to a film project might get you into the premiere — or a private screening for you and your friends. One artist raised funds to create
<a href="#" class="link_to_wall_installation_dialog">a wall installation</a>,
then gave pieces of it to her backers when the exhibit ended.
</p>
</div>
<div class="group">
<p class="big_type">Creative works were funded this way for centuries.</p>
<p>
Mozart, Beethoven, Whitman, Twain, and other artists funded works in similar ways &mdash; not just with help from large patrons, but by soliciting money from smaller patrons, often called subscribers. In return for their support, these subscribers might have received an early copy or
<a href="#special_edition_dialog" class="link_to_special_edition_dialog">special edition</a>
of the work. iStarter is an extension of this model, turbocharged by the web.
</p>
</div>
<div class="content_break">
<div class="image">
<img height="140" src="/static/images/AnthropoceneMapping.jpg" />
</div>
<div class="copy">
<p class="big_type">
<span>“</span>
The most democratic way art has ever been made.”
</p>
<p class="small_type">
&mdash;
<a href="/projects/stephenheleker/smoke-a-short-film-based-on-the-story-by-alan-heat">Stephen Heleker, who raised $21,000 for his short film “Smoke”</a>
</p>
</div>
</div>
<div class="group">
<p class="big_type">Backing a project is more than just giving someone money.</p>
<p>It’s supporting their dream to create something that they want to see exist in the world. People rally around their friends’ projects, fans support people they admire, and others simply come to iStarter to be inspired by new ideas. Some projects take longer than anticipated, but creators who are transparent about issues and delays usually find their backers to be understanding.</p>
</div>
<div class="group">
<p class="big_type">Our mission is to help bring creative projects to life.</p>
<p>We’re a for-profit company based in New York City’s Lower East Side. We spend our time making iStarter a little bit better every day, answering questions from backers and creators, and finding new projects to share. If a project is successfully funded, we apply a 5% fee to the funds collected.</p>
<p>We believe that creative projects make for a better world, and we’re thrilled to help support new ones. Building a community of backers around an idea is an amazing way to make something new.</p>
</div>
</div>
</div>
</div>
<div class="section clearfix centered" id="touts">
<div class="container">
<div class="interior">
<a href="#" class="NS_touts__start tout"><span class="big_type">Start a project</span>
<div>or find out how it all works</div>
</a>
<a href="#" class="NS_touts__year_in_review tout" target="_blank"><span class="big_type">The Best of iStarter</span>
<div>A look back at 2012</div>
</a>
</div>
</div>
</div>
</div>
</div>

</div>

{% endblock main_block %}

{% block classification_tail %} {{ classification }} {% endblock classification_tail %}
