{% extends "base.html" %}

{% block classification_head %} {{ classification|upper }} {% endblock classification_head %}		

{% block extra_js %}

  	<script>
  	
  		
  		// Adds tags to an array for form population
  		var inputTags = new Array();
  		
  		function modifyTagsArray(e) {
  			
  			idx = inputTags.indexOf(e.id);
  			//alert(idx);
  			if (idx < 0) {
  				addToTagsArray(e.id);
  				document.getElementById(e.id).className = "btn btn-mini btn-success";
  				}
  			else {
  				removeFromArray(e.id);
  				document.getElementById(e.id).className = "btn btn-mini";
  				}
  			//alert(inputTags);
  		}
  		
  		// Add an element to the array
  		function addToTagsArray(value) {
  			inputTags.push(value);
  		}
  	  	
  		// remove an element from the array
  		function removeFromArray(value) {
  			idx = inputTags.indexOf(value);
  			inputTags.splice( idx, 5 );
  		}

  		// Assign the hidden tags field to the tags array
  		function submitNewProjectForm() {
                    var form = document.getElementById('project_submit_form');

                    document.getElementById('id_importance_level').value = $('#starimportance').raty('score');
                    document.getElementById('id_effort_level').value = $('#stareffort').raty('score');
                    document.getElementById('id_resource_level').value = $('#starresource').raty('score');

                    form.submit();

  		    document.getElementById("id_existing_tags").value = inputTags;
  		}

                // def backersRequiredAlgorithm(effort, importance, resources) :		
                //      	return effort * ((6-importance)**2) * (resources**3)

                function recompute_backers() {
	           var newval = new Number($('#stareffort').raty('score')) * 
                                  Math.pow( new Number(6 - $('#starimportance').raty('score')), 2) *
                                  Math.pow(new Number($('#starresource').raty('score')),3);
                   document.getElementById('num_backers').innerHTML = newval;
//alert($('#stareffort').raty('score')+' '+(6 - $('#starimportance').raty('score'))+' '+$('#starresource').raty('score'));
                }

                $(document).ready(function(){
			$.fn.raty.defaults.path = '/static/raty-2.5.2/lib/img';	
//			$("div[id^=star]").raty({
//				score: function() {
//					return $(this).attr('data-score');
//				}
//			});

                    $("div[id^=star]").bind('mousemove', 0, false, 
                       function(event) {

                      });

                    $("div[id^=star]").raty({
                          click: function(score, evt) {
                                   recompute_backers();
                                 }
                      });
	            $("div[id^=star]").raty('click', 3);

                });
  	</script>

{% endblock extra_js %} 

{% block top_row %}
	<div class="row-fluid">
		<div class="span12 offset1">
			<h1>{{ page_title }}</h1>
			</br></br>
		</div>
	</div>

{% endblock top_row %}

{% block main_block %}

	<form id="project_submit_form" action="." method="POST">{% csrf_token %}

		<div class="row-fluid">
			<div class="span3 offset1">
				<h4>Ideas</h4>
			</div>
			<div class="span4">
				<h4>Project Detail</h4>
			</div>
			<div class="span3">
				<h4>Tags</h4>
			</div>
		</div>
		
		<div class="row-fluid">
			
			<div class="span3 offset1">
				<div>
					{{ form.ideas.errors }}
					{{ form.ideas }}
				</div>
				<hr></hr>
				<div class="row-fluid">
					{{ form.importance_level.errors }}
					<div class="span4">
						Importance
					</div>
					<div class="span4">
						<div id="starimportance" data-score="3"></div>
						{{ form.importance_level }}
					</div>
				</div>
				<div class="row-fluid">
					{{ form.effort_level.errors }}
					<div class="span4">
						Effort
					</div>
					<div class="span4">
						<div id="stareffort" data-score="3"></div>
						{{ form.effort_level }}
					</div>
				</div>
				<div class="row-fluid">
					{{ form.resource_level.errors }}
					<div class="span4">
						Resource
					</div>
					<div class="span4">
						<div id="starresource" data-score="3"></div>
						{{ form.resource_level }}
					</div>
				</div>
				<div class="row-fluid">
					<div class="span4">Backers Required:</div>
                                        <div class="span4"><span id="num_backers">729</span></div>
				</div>
			</div>
		
			<div class="span4">
		        <div>
			        {{ form.title.errors }}
			        {{ form.title }}
				</div>
				<div>
			        {{ form.description.errors }}
			        {{ form.description }}
				</div>
			</div>
			
			<div class="span3">
				<!-- border:1px solid #BCC6CC; background:white;  -->
				<div class="span12" style="padding:2px; border-radius:3px; margin:0px auto 5px auto; overflow: auto; max-height: 380px;">
					{% for known_tag in known_tags %}
						<button id="{{ known_tag }}" style="margin:0px auto 4px auto;" class="btn btn-mini" onclick="modifyTagsArray(this)" type="button">{{ known_tag }}</button>
					{% endfor %}
					<!-- Hidden -->	
			        {{ form.existing_tags }}
					<!-- Hidden -->	
				</div> 
				<div>
		        	{{ form.new_tags.errors }}
		        	{{ form.new_tags }}
				</div>
				<hr></hr>
				<div class="span12" style="margin:0px auto 5px auto;">
					<div class="row-fluid">
						{{ form.cls.errors }}
						<div class="span8">
							{{ form.cls }}
						</div>
						<div class="span4">
							<button onclick="submitNewProjectForm()" class="btn btn-primary" style="float:right; padding:0px auto; margin:0px auto;" type="button">Send</button>
						</div>
					</div>
				</div>
			
			</div>
		</div>
		
	</form>
	
	<!-- javascript at end for speed -->
	<script type="text/javascript">
	</script>
	<script>
	</script>
	
{% endblock main_block %}

{% block classification_tail %} {{ classification }} {% endblock classification_tail %}
