{% extends "base.html" %}

{% block classification_head %} {{ classification|upper }} {% endblock classification_head %}		

{% block extra_js %}
  	<script>
  	
  		
  		// Adds tags to an array for form population
  		var inputTags = new Array();
  		
  		function modifyTagsArray(e) {
  			
  			idx = inputTags.indexOf(e.id);
  			//alert(idx);
  			if (idx < 0) {
  				addToTagsArray(e.id);
  				document.getElementById(e.id).className = "btn btn-mini btn-primary";
  				}
  			else {
  				removeFromArray(e.id);
  				document.getElementById(e.id).className = "btn btn-mini";
  				}
  			//alert(inputTags);
  		}
  		
  		// Add an element to the array
  		function addToTagsArray(value) {
  			inputTags.push(value);
  		}
  	  	
  		// remove an element from the array
  		function removeFromArray(value) {
  			idx = inputTags.indexOf(value);
  			inputTags.splice( idx, 5 );
  		}
  		
  		// Assign the hidden tags field to the tags array
  		function setTagsList() {
  			document.getElementById("id_existing_tags").value = inputTags;
  		}
  	</script>
{% endblock extra_js %} 

{% block main_block %}

<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sort By</li>
              <li class="active"><a href="#">No Sort</a></li>
              <li><a href="#">Age</a></li>
              <li><a href="#">Backers</a></li>
              <li><a href="#">Likes</a></li>
              <hr></hr>
              <li class="nav-header">Tag Filters</li>
			  <li style="padding:2px; border-radius:3px; margin:0px auto 5px auto; overflow: auto; max-height: 200px;">
					{% for known_tag in known_tags %}
						<button id="{{ known_tag }}" style="margin:0px auto 4px auto;" class="btn btn-mini" onclick="modifyTagsArray(this)" type="button">{{ known_tag }}</button>
					{% endfor %}
			  </li>
              <hr></hr>

			  <li class="nav-header">Projects</li>
              <li><a href="#">You like</a></li>
              <li><a href="#">You dislike</a></li>
              <li><a href="#">You back</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        
        
        <div class="span9">
          <div class="hero-unit">
            <h1>{{ page_title }}</h1>
            <p>Its your turn to drive. Only those projects with the most backers will be developed</p>
            <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
	
			{% for row in tableData %}
			{% if forloop.counter|divisibleby:"3" %}
				<div class="row-fluid">
			{% endif %}
			{% for cell in row %}
				<div class="span4">
					{% if cell.backPercentage < 25 %} 
						<div class="progress progress-danger progress-striped active">
							<div class="bar" style="width: {{cell.backPercentage}}%;"></div>
						</div>
					{% elif cell.backPercentage < 50 %}
						<div class="progress progress-warning progress-striped active">
							<div class="bar" style="width: {{cell.backPercentage}}%;"></div>
						</div>
					{% elif cell.backPercentage < 75 %}
						<div class="progress progress-success progress-striped active">
							<div class="bar" style="width: {{cell.backPercentage}}%;"></div>
						</div>
					{% else %}
						<div class="progress progress-info progress-striped active">
							<div class="bar" style="width: {{cell.backPercentage}}%;"></div>
						</div>
					{% endif %}
					<h2>{{ cell.title }}</h2>
					<p> {{ cell.description }} </p>
					<p><a class="btn" href="/projects/project_detail/{{ cell.id }}">View details &raquo;</a></p>
				</div>
			{% endfor %}
			{% if forloop.counter|divisibleby:"3" %}			
					</div><!--/row-->
			{% endif %}
			{% endfor %}


    </div><!--/.fluid-container-->
    <hr>

 <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

{% endblock main_block %}

{% block classification_tail %} {{ classification }} {% endblock classification_tail %}
