{% extends "base.html" %}

{% block classification_head %} {{ classification|upper }} {% endblock classification_head %}		

{% block extra_js %}

{% endblock extra_js %} 

{% block top_row %}

    <div class="row-fluid">
        <div class="span6 offset3">
            <h2 class="text-center">{{ page_title }}</h2>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6 offset4">
                <p><em>Published on: {{ data.pub_date }}</em></p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6 offset4">
                <p><a class="btn btn-success btn-mini" href="/projects/back/{{data.id}}"</button>Back This Project</a>
                <button class="btn btn-mini btn-info" disabled href=#>Follow this Project</button>
                <button class="btn btn-mini btn-warning" href="#" onclick="javascript:window.location='mailto:?subject=Check out this iStarter Project&body=' + window.location;">Share this Project</button>
                <i class="icon-thumbs-up" id="like_{{data.id}}" onclick="loadFeedbackXMLDoc('Like', 'projects', this.id,'celllike_', 'celldislike_');"></i>
                <span id="celllike_{{data.id}}">{{data.num_likes}}</span>
                <i class="icon-thumbs-down"id="dislike_{{data.id}}" onclick="loadFeedbackXMLDoc('Dislike', 'projects', this.id,'celldislike_', 'celllike_');"></i>
                <span id="celldislike_{{data.id}}">{{data.num_dislikes}}</span>  
        </div>
    </div>                        

    <div class="row-fluid">
        <div class="span6 offset3">
            <div class="row-fluid">
                <div class="span3">
                    <div class="thumbnail" style="height:135px;width:200px">
                        <img src="/static/images/300x200.png"></a>
                     </div>
                </div>
                <div class="span6 offset2">
                    <h5><em>Effort: </em>
                        {% for effort in data.effort_list %}
                            <i class="icon-user"></i>
                        {% endfor %}
                    </h5>
                    <h5><em>Importance: </em>
                        {% for importance in data.importance_list %}
                            <i class="icon-fire"></i>
                        {% endfor %}
                    </h5>
                    <h5><em>Required Resource: </em>
                        {% for resource in data.resource_list %}
                            <i class="icon-shopping-cart"></i>
                        {% endfor %}                    
                    </h5>
                    <h5><em>Backed by {{ data.num_backers }} of required {{ data.backersRequired }} ({{data.backPercentage}}%)</em></h5>
                    {% if data.backPercentage < 33 %} 
                        {% if data.active %}
                            <div class="progress progress-info progress-striped active">
                                <div class="bar" style="width: {{data.backPercentage}}%;"></div>
                            </div>
                        {% else %}
                            <div class="progress progress-danger">
                                <div class="bar" style="width: {{data.backPercentage}}%;"></div>
                            </div>
                        {% endif %}
                    {% elif data.backPercentage < 66 %}
                        {% if data.active %}
                            <div class="progress progress-info progress-striped active">
                                <div class="bar" style="width: {{data.backPercentage}}%;"></div>
                            </div>
                        {% else %}
                        <div class="progress progress-warning">
                            <div class="bar" style="width: {{data.backPercentage}}%;"></div>
                        </div>
                        {% endif %}
                    {% else %}
                        {% if data.active %}
                            <div class="progress progress-info progress-striped active">
                                <div class="bar" style="width: {{data.backPercentage}}%;"></div>
                            </div>
                        {% else %}
                            <div class="progress progress-success">
                                <div class="bar" style="width: {{data.backPercentage}}%;"></div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>                                             
    </div>
    </br>
{% endblock top_row %}

{% block main_block %}
<div class="row-fluid">
    <div class="span6 offset3">
        <h3>Project Description</h3>
        <p> {{ data.description }} </p>
    </div>
</div>
</br></br> 
<div class="row-fluid">
    <div class="span6 offset3">             
        <h3>Project FAQ</h3>
        <p><em>Place holder for some Project Frequently asked questions</em></p>
    </div>
</div>
<div class="row-fluid">
    <div class="span6 offset3">
        <form action="." method="POST">{% csrf_token %}
            <input type="text" placeholder="Ask a question..." class="input-large search-query"/>
            <button type="submit" class="btn">Send</button>
        </form>
    </div>
</div>  
</br></br>

<div class="row-fluid">
    <div class="span6 offset3">
                <h3>Seed Ideas</h3>
                {% for row in tableData_ideas %}
				{% if forloop.counter0|divisibleby:"3" %}
					<div class="row-fluid">
				{% endif %}
     							
                            {% if row.perc_likes > 80 %}
        					<li class="span4">
        						<div class="thumbnail" style="height:250px;border: 2px solid green; box-shadow: 5px 5px 10px #CACAC8;">
        							<div class="caption">				
        								<h5>{{ row.title|truncatewords:10 }}
                                                    </h5>
                            				<p> {{ row.description|truncatewords:10 }} </p>
                                                    <i class="icon-thumbs-up" id="like_{{row.id}}" onclick="loadFeedbackXMLDoc('Like', 'ideas', this.id,'celllike_', 'celldislike_');"></i><span id="celllike_{{row.id}}">{{row.likes|floatformat:"0"}}</span>
                                                    <i class="icon-thumbs-down"id="dislike_{{row.id}}" onclick="loadFeedbackXMLDoc('Dislike', 'ideas', this.id,'celldislike_', 'celllike_');"></i><span>  </span><span id="celldislike_{{row.id}}">{{row.dislikes|floatformat:"0"}}</span>
                                                    <button class="btn btn-mini btn-warning" href="#" onclick="javascript:window.location='mailto:?subject=Check out this iStarter Idea&body=Title:{{row.title}}   Description:{{row.description}}'">Share</button>
                                                    {% if row.linked_projects %}
                                                        <p>Linked Projects:
                                                        {% for proj in row.linked_projects %}
                                                            <a href="/projects/project_detail/{{proj}}">{{proj}},</a>
                                                        {% endfor %}
                                                        </p>
                                                    {% else %}
                                                        <p>No Linked Projects</p>
                                                    {% endif %}                                                    
                                            </div>
        						</div>
        					</li>
                            {% elif row.perc_dislikes > 80 %}
                                <li class="span4">
        						<div class="thumbnail" style="height:250px;border: 2px solid red; box-shadow: 5px 5px 10px #CACAC8;">
        							<div class="caption">				
        								<h5>{{ row.title|truncatewords:10 }}
                                                    </h5>
        								<p> {{ row.description|truncatewords:10 }} </p>
        								<i class="icon-thumbs-up" id="like_{{row.id}}" onclick="loadFeedbackXMLDoc('Like', 'ideas', this.id,'celllike_', 'celldislike_');"></i><span>  </span><span id="celllike_{{row.id}}">{{row.likes|floatformat:"0"}}</span>
                                                    <i class="icon-thumbs-down"id="dislike_{{row.id}}" onclick="loadFeedbackXMLDoc('Dislike', 'ideas', this.id,'celldislike_', 'celllike_');"></i><span>  </span><span id="celldislike_{{row.id}}">{{row.dislikes|floatformat:"0"}}</span>
                                                    <button class="btn btn-mini btn-warning" href="#" onclick="javascript:window.location='mailto:?subject=Check out this iStarter Idea&body=Title:{{row.title}}   Description:{{row.description}}'">Share</button>
                                                    {% if row.linked_projects %}
                                                        <p>Linked Projects:
                                                        {% for proj in row.linked_projects %}
                                                            <a href="/projects/project_detail/{{proj}}">{{proj}},</a>
                                                        {% endfor %}
                                                        </p>
                                                    {% else %}
                                                        <p>No Linked Projects</p>
                                                    {% endif %}     
                                            </div>
        						</div>
        					</li>
                            {% else %}
                                <li class="span4">
        						<div class="thumbnail" style="height:250px; box-shadow: 5px 5px 10px #CACAC8;">
        							<div class="caption">					
        								<h5>{{ row.title|truncatewords:10 }}
                                        </h5>
        								<p> {{ row.description|truncatewords:10 }} </p>
        								<i class="icon-thumbs-up" id="like_{{row.id}}" onclick="loadFeedbackXMLDoc('Like', 'ideas', this.id,'celllike_', 'celldislike_');"></i><span> </span><span id="celllike_{{row.id}}">{{row.likes|floatformat:"0"}}</span>
                                                    <i class="icon-thumbs-down"id="dislike_{{row.id}}" onclick="loadFeedbackXMLDoc('Dislike', 'ideas', this.id,'celldislike_', 'celllike_');"></i><span>  </span><span id="celldislike_{{row.id}}">{{row.dislikes|floatformat:"0"}}</span>
                                                    <span> </span><button class="btn btn-mini btn-warning" href="#" onclick="javascript:window.location='mailto:?subject=Check out this iStarter Idea&body=Title:{{row.title}}   Description:{{row.description}}'">Share</button>
                                                    {% if row.linked_projects %}
                                                        <p>Linked Projects:
                                                        {% for proj in row.linked_projects %}
                                                            <a href="/projects/project_detail/{{proj}}">{{proj}},</a>
                                                        {% endfor %}
                                                        </p>
                                                    {% else %}
                                                        <p>No Linked Projects</p>
                                                    {% endif %}     
                                            </div>
        						</div>
        					</li>
                            {% endif %}
				{% if forloop.counter|divisibleby:"3" %}	
					</div><!--/row-->
					</br>
				{% endif %}
			{% endfor %}
            </div>
    </div>
</div>

{% endblock main_block %}

{% block classification_tail %} {{ classification }} {% endblock classification_tail %}